<a href="https://colab.research.google.com/github/hbechara/HertiePython/blob/main/RomanNumerals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def int_to_Roman(num):
 val = [1000, 900, 500, 400,100, 90, 50, 40,10, 9, 5, 4,1]
 syb = ["M", "CM", "D", "CD","C", "XC", "L", "XL","X", "IX", "V", "IV","I"]
 roman_num = ''
 i = 0
 while  num > 0:
    for _ in range(num // val[i]):
      roman_num += syb[i]
      num -= val[i]
    i += 1
 return roman_num

print(int_to_Roman(1))
print(int_to_Roman(4712))

I
MMMMDCCXII

In [ ]:
# Tower of Hanoi Solution

def TowerOfHanoi(n , from_rod, to_rod, aux_rod): 
    if n == 1: 
        print("Move disk 1 from rod",from_rod,"to rod",to_rod)
        return
    TowerOfHanoi(n-1, from_rod, aux_rod, to_rod) 
    print("Move disk",n,"from rod",from_rod,"to rod",to_rod)
    TowerOfHanoi(n-1, aux_rod, to_rod, from_rod) 


TowerOfHanoi(3, 'A', 'C', 'B')